<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Sobre nosotros</h1>
          <p class="mb-4">En VOGUE VENUE, nos dedicamos a ofrecer ropa de alta calidad que combine estilo y confort.
            Nuestro equipo apasionado trabaja para asegurarnos de que cada prenda refleje nuestro compromiso con la excelencia.<p>
              <a href="" class="btn btn-secondary me-2">Comprar</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="./../assets/images/portadaAbout.png" class="img-fluid" style="width: 91%; left: 20%;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->



<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6">
        <h2 class="section-title">Nuestra Historia</h2>
        <p>Fundada con la pasión por la moda y el deseo de ofrecer ropa de alta calidad, nuestra tienda ha crecido para convertirse en un referente en el mundo del estilo.
           Nuestra misión es proporcionar a nuestros clientes prendas que combinen elegancia y comodidad, haciendo que cada día se sientan especiales.
        </p>


        <h2 class="section-title">Nuestros valores</h2>
        <div class="row my-5">
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./../assets/images/truck.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>Sostenibilidad</h3>
              <p>Nos comprometemos a utilizar materiales y procesos que respeten el medio ambiente.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./../assets/images/bag.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>Calidad</h3>
              <p>Cada prenda es confeccionada con los más altos estándares de calidad.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./../assets/images/support.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>Innovación</h3>
              <p>Estamos constantemente buscando nuevas formas de mejorar y sorprender a nuestros clientes.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./../assets/images/return.svg" alt="Image" class="imf-fluid">
              </div>
              <h3>Servicio</h3>
              <p>La satisfacción de nuestros clientes es nuestra máxima prioridad.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="img-wrap">
          <img src="./../assets/images/img5.jpeg" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start Team Section -->
<div class="untree_co-section">
  <div class="container">

    <div class="row mb-5">
      <div class="col-lg-5 mx-auto text-center">
        <h2 class="section-title">Conoce al Equipo</h2>
      </div>
    </div>

    <div class="row">

      <!-- Start Column 1 -->
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
        <img src="./../assets/images/person_1.jpg" class="img-fluid mb-5">
        <h3><span class="">Alejandro Martinez</span></h3>
        <span class="d-block position mb-4">CEO y Fundador</span>
        <p>Alejandro fundó nuestra empresa con la visión de ofrecer ropa de alta calidad y diseño excepcional. Con más de 20 años de experiencia en la industria de la moda, lidera nuestro equipo con pasión y dedicación, asegurando que siempre estemos a la vanguardia de las tendencias.
      </div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
        <img src="./../assets/images/person_2.jpg" class="img-fluid mb-5">

        <h3 ><span class="">Eduardo Gómez
        </span></h3>
        <span class="d-block position mb-4">Director de Diseño</span>
        <p>Eduardo es la mente creativa detrás de nuestras colecciones. Con un talento innato para el diseño y un ojo impecable para los detalles, Valeria transforma ideas en piezas únicas y sofisticadas. Su compromiso con la innovación y la excelencia define cada prenda que ofrecemos.</p>
      </div>
      <!-- End Column 2 -->

      <!-- Start Column 3 -->
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
        <img src="./../assets/images/person_3.jpg" class="img-fluid mb-5">
        <h3><span class="">Diego Pérez</span></h3>
        <span class="d-block position mb-4">Gerente de Marketing</span>
        <p>Diego es el encargado de llevar nuestra marca al mundo. Con su experiencia en marketing digital y su habilidad para conectar con los clientes, Diego desarrolla estrategias efectivas que nos permiten crecer y expandirnos. Su enfoque centrado en el cliente asegura que nuestra voz se escuche.</p>
      </div>
      <!-- End Column 3 -->

      <!-- Start Column 4 -->
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
        <img src="./../assets/images/person_4.jpg" class="img-fluid mb-5">

        <h3><span class="">Laura Rodríguez</span></h3>
        <span class="d-block position mb-4">Jefa de Operaciones</span>
        <p>Laura garantiza que todo funcione sin problemas en nuestra empresa. Desde la logística hasta la gestión de inventarios, Laura coordina cada detalle con precisión y eficiencia. Su liderazgo en operaciones es fundamental para mantener nuestro alto estándar de calidad y servicio.</p>
      </div>
      <!-- End Column 4 -->



    </div>
  </div>
</div>
<!-- End Team Section -->

<section class="about-commitment">
  <div class="container">
    <h2>Nuestro Compromiso</h2>
    <p>
      Estamos comprometidos a ofrecer productos de la más alta calidad y un servicio excepcional a nuestros clientes. Creemos en la moda como una fuerza para el bien y nos esforzamos por hacer una diferencia positiva en la comunidad y en el mundo.
    </p>
  </div>
</section>

