<footer class="footer-section">
  <div class="container relative">
    <div class="row">
      <div class="col-lg-8">
        <div class="subscription-form">
          <h3 class="d-flex align-items-center">
            <span class="me-1"><img src="./../assets/images/envelope-outline.svg" alt="Image"
                class="img-fluid" /></span><span>Suscríbete al boletín</span>
          </h3>

          <form action="#" class="row g-3">
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="Ingresa tu nombre" />
            </div>
            <div class="col-auto">
              <input type="email" class="form-control" placeholder="Ingresa tu correo" />
            </div>
            <div class="col-auto">
              <button class="btn btn-primary" title="Enviar">
                <span class="fa fa-paper-plane"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-lg-4">
        <div class="mb-4 footer-logo-wrap">
          <a href="#" class="footer-logo">VOGUE VENUE<span>.</span></a>
        </div>
        <p class="mb-4">
          En nuestra tienda encontrarás una amplia gama de productos que abarcan
          desde lo último en moda hasta los dispositivos electrónicos más
          innovadores y elegantes muebles para tu hogar. Nuestro compromiso es
          ofrecerte variedad, calidad y estilo en cada compra. ¡Explora nuestro
          catálogo y descubre cómo podemos ayudarte a satisfacer todas tus
          necesidades de compra en un solo lugar!
        </p>

        <ul class="list-unstyled custom-social">
          <li>
            <a href="#" title="Facebook"><span class="fa fa-brands fa-facebook-f"></span></a>
          </li>
          <li>
            <a href="#" title="Twitter"><span class="fa fa-brands fa-twitter"></span></a>
          </li>
          <li>
            <a href="#" title="Instagram"><span class="fa fa-brands fa-instagram"></span></a>
          </li>
          <li>
            <a href="#" title="Linkedin"><span class="fa fa-brands fa-linkedin"></span></a>
          </li>
        </ul>
      </div>

      <div class="col-lg-8">
        <div class="row links-wrap">
          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Contactanos</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Soporte</a></li>
              <li><a href="#">Base de conocimientos</a></li>
              <li><a href="#">Live chat</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Trabajos</a></li>
              <li><a href="#">Nuestro Equipo</a></li>
              <li><a href="#">Liderazgo</a></li>
              <li><a href="#">Política de Privacidad</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="border-top copyright">
      <div class="row pt-4">
        <div class="col-lg-6">
          <p class="mb-2 text-center text-lg-start">
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            . All Rights Reserved. &mdash; Designed with love by
            <a href="https://untree.co">VOGUE VENUE</a> Distributed By
            <a href="https://celaya.tecnm.mx/">TECNM EN CELAYA</a>
            <!-- License information: https://untree.co/license/ -->
          </p>
        </div>

        <div class="col-lg-6 text-center text-lg-end">
          <ul class="list-unstyled d-inline-flex ms-auto">
            <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
