<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>
            Todo en Uno,
            <span clsas="d-block">Estilo y Elegancia en Cada Prenda</span>
          </h1>
          <p class="mb-4">
            Bienvenidos a nuestra tienda de ropa online, donde encontrarás la última moda, tendencias y accesorios de
            alta calidad.
            Descubre nuestras colecciones y viste con estilo.
          </p>
          <p>
            <a routerLink="/shop" class="btn btn-secondary me-2">Comprar ahora</a>
            <a routerLink="/about" class="btn btn-white-outline">Explorar</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="./../assets/images/portada.png" class="img-fluid" style="width: 104%;" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
  <div class="container">
    <div class="row">
      <!-- Start Column 1 -->
      <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
        <h2 class="mb-4 section-title">Calidad y Estilo.</h2>
        <p class="mb-4">
          Descubre nuestra selección de ropa y accesorios hechos con materiales de primera calidad.
          Nos esforzamos por ofrecerte lo mejor en moda para que siempre te sientas y luzcas espectacular.
        </p>
        <p><a routerLink="/shop" class="btn">Explorar</a></p>
      </div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
          <img src="./../assets/images/product-1.png" class="img-fluid product-thumbnail" />
          <h3 class="product-title">Nordic Chair</h3>
          <strong class="product-price">$50.00</strong>

          <span class="icon-cross">
            <img src="./../assets/images/cross.svg" class="img-fluid" />
          </span>
        </a>
      </div>
      <!-- End Column 2 -->

      <!-- Start Column 3 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
          <img src="./../assets/images/product-2.png" class="img-fluid product-thumbnail" />
          <h3 class="product-title">Kruzo Aero Chair</h3>
          <strong class="product-price">$78.00</strong>

          <span class="icon-cross">
            <img src="./../assets/images/cross.svg" class="img-fluid" />
          </span>
        </a>
      </div>
      <!-- End Column 3 -->

      <!-- Start Column 4 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
          <img src="./../assets/images/product-3.png" class="img-fluid product-thumbnail" />
          <h3 class="product-title">Ergonomic Chair</h3>
          <strong class="product-price">$43.00</strong>

          <span class="icon-cross">
            <img src="./../assets/images/cross.svg" class="img-fluid" />
          </span>
        </a>
      </div>
      <!-- End Column 4 -->
    </div>
  </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h2 class="section-title">¿Por Qué Elegirnos?</h2>
        <p>
          Ofrecemos una experiencia de compra única con un enfoque en la moda y el estilo.
          Nos esforzamos por brindarte el mejor servicio y calidad en cada prenda.
        </p>

        <div class="row my-5">
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./../assets/images/truck.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>Envío Rápido y Gratuito</h3>
              <p>
                Haz tus compras con la confianza de recibir tus productos de
                forma rápida y gratuita.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./../assets/images/bag.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>Compra Fácil</h3>
              <p>
                Navega y encuentra tus productos favoritos de manera sencilla.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./../assets/images/support.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>Soporte 24/7</h3>
              <p>Estamos aquí para ayudarte en cualquier momento del día.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="./../assets/images/return.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>Devoluciones sin Problemas</h3>
              <p>
                Garantizamos un proceso de devolución sin complicaciones.
                Vivirás una experiencia de compra sin estrés, con la tranquilidad de saber que puedes devolver cualquier
                artículo sin problemas.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="img-wrap">
          <img src="assets/images/img1.jpeg" alt="Image" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <div class="imgs-grid">
          <div class="grid grid-1">
            <img src="assets/images/img2.jpg" alt="Untree.co" />
          </div>
          <div class="grid grid-2">
            <img src="./../assets/images/img4.jpg" alt="Untree.co" />
          </div>
          <div class="grid grid-3">
            <img src="./../assets/images/img3.jpg" alt="Untree.co" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 ps-lg-5">
        <h2 class="section-title mb-4">
          Te Ayudamos a Crear tu Estilo Personal
        </h2>
        <p>
          Nuestro objetivo es facilitarte la creación de un estilo personal y moderno. Con nuestra ayuda, podrás
          encontrar las prendas perfectas que reflejen tu personalidad y te hagan sentir seguro y elegante.
        </p>

        <ul class="list-unstyled custom-list my-4">
          <li>
            Asesoramiento Personalizado: Nuestros expertos en moda están aquí
            para guiarte en cada paso del proceso, desde la conceptualización
            hasta la implementación.
          </li>
          <li>
            Selección de Productos: Te ayudamos a encontrar las prendas,
            accesorios y complementos ideales para tu estilo, asegurando una
            combinación armoniosa y moderna.
          </li>
          <li>
            Entrega: Nos encargamos de todo el proceso logístico para
            que puedas disfrutar de tus nuevas prendas sin preocupaciones.
          </li>
          <li>
            Calidad: Trabajamos con tejidos y materiales de alta calidad para
            garantizar prendas duraderas y satisfactorias.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End We Help Section -->

<!-- Start Popular Product -->
<div class="popular-product">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src="./../assets/images/product1.png" alt="Image" class="img-fluid" />
          </div>
          <div class="pt-3">
            <h3>Descubre Calidad Superior en Cada Prenda </h3>
            <p>
              Explora nuestra amplia selección de prendas de vestir de alta calidad.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src="./../assets/images/product2.png" alt="Image" class="img-fluid" />
          </div>
          <div class="pt-3">
            <h3>Procesos de Fabricación Sostenibles y Responsables</h3>
            <p>
              Nos enorgullece ofrecerte ropa fabricada bajo procesos sostenibles y respetuosos con el medio ambiente.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src="./../assets/images/product3.png" alt="Image" class="img-fluid" />
          </div>
          <div class="pt-3">
            <h3>Las Mejores Marcas de Moda en un Solo Lugar</h3>
            <p>
              Descubre las colecciones más exclusivas de las mejores marcas de moda.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Popular Product -->

<!-- Start Testimonial Slider -->
<div class="testimonial-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h2 class="section-title">Testimonios</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="testimonial-slider-wrap text-center">

            <div class="testimonial-slider">
              <div class="item" *ngFor="let testimonioItem of testimonio">
                <div class="row justify-content-center">
                  <div class="col-lg-8 mx-auto">
                    <div class="testimonial-block text-center">
                      <blockquote class="mb-5">
                        <p></p>
                        <p>&ldquo;{{ testimonioItem.contenido }}&rdquo;</p>
                        <p></p>
                      </blockquote>

                      <div class="author-info">
                        <div class="author-pic">
                          <img [src]="'./../assets/images/' + testimonioItem.imagen" [alt]="testimonioItem.autor"
                            class="img-fluid" />
                        </div>
                        <h3 class="font-weight-bold">{{ testimonioItem.autor }}</h3>
                        <span class="position d-block mb-3">{{ testimonioItem.cargo }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END item -->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Testimonial Slider -->
