<div
  class="container"
  style="
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
    display: flex;
  "
>
  <div
    class="sidebar"
    style="width: 30%; padding: 20px; border-right: 1px solid #ccc"
  >
    <h3 style="color: #333">Opciones</h3>
    <ul style="list-style-type: none; padding: 0">
      <li style="margin-bottom: 10px">
        <a
          routerLink="/user/opciones"
          style="text-decoration: none; color: #007bff; cursor: pointer"
          >Perfil de usuario</a
        >
      </li>
      <li style="margin-bottom: 10px">
        <a
          routerLink="/user/historial"
          style="text-decoration: none; color: #007bff; cursor: pointer"
          >Ver historial y detalles de sus pedidos</a
        >
      </li>
      <li style="margin-bottom: 10px">
        <a
          routerLink="/user/graficas"
          style="text-decoration: none; color: #007bff; cursor: pointer"
          >Generar gráfico de pedidos anuales</a
        >
      </li>
    </ul>
  </div>
  <div class="container-graficas">
    <div style="width: 900px">
      <canvas id="ordersChart"></canvas>
    </div>
  </div>
</div>
