<!-- Start Header/Navigation Users -->
<app-nav-admin *ngIf="showNavAdmin"></app-nav-admin>
<!-- End Header/Navigation Users -->

<!-- Start Header/Navigation Users -->
<app-nav-usuario *ngIf="showNavUsers"></app-nav-usuario>
<!-- End Header/Navigation Users -->

<!-- Start Header/Navigation -->
<app-navbar *ngIf="showNavNotUsers"></app-navbar>
<!-- End Header/Navigation -->

<router-outlet></router-outlet>

<!-- Start Footer Section -->
<app-footer *ngIf="showFooter"></app-footer>
<!-- End Footer Section -->
