<div class="mt-4">
  <div class="container container-tables">
    <table
      datatable
      [dtOptions]="dtOptions"
      class="table table-bordered table-hover"
    >
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Monto Descuento</th>
          <th>Monto Total</th>
          <th>Cantidad</th>
          <th>ID Usuario</th>
          <th>ID Producto</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let order of orders">
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.monto_descuento }}</td>
            <td>{{ order.monto_total }}</td>
            <td>{{ order.cantidad }}</td>
            <td>{{ order.id_usuario }}</td>
            <td>{{ order.id_producto }}</td>
            <td>{{ order.fecha }}</td>
            <td>
              <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#ModalEditar"
                (click)="setEditOrder(order)"
              >
                <i class="bx bx-edit-alt" style="font-size: 25px"></i>
              </button>
            </td>
            <td>
              <button
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#ModalBorrar"
                (click)="setDeleteOrder(order)"
              >
                <i class="bx bx-trash" style="font-size: 25px"></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="container-graficas">
      <div style="width: 550px">
        <canvas id="userCategoryChart"></canvas>
      </div>

      <div style="width: 550px">
        <canvas id="productSalesChart"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Editar -->
<div
  class="modal fade"
  id="ModalEditar"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Orden de Compra</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="editMontoDescuento" class="form-label"
              >Monto Descuento</label
            >
            <input
              type="text"
              class="form-control"
              id="editMontoDescuento"
              [(ngModel)]="orderToEdit.monto_descuento"
              name="monto_descuento"
            />
          </div>
          <div class="mb-3">
            <label for="editMontoTotal" class="form-label">Monto Total</label>
            <input
              type="text"
              class="form-control"
              id="editMontoTotal"
              [(ngModel)]="orderToEdit.monto_total"
              name="monto_total"
            />
          </div>
          <div class="mb-3">
            <label for="editCantidad" class="form-label">Cantidad</label>
            <input
              type="number"
              class="form-control"
              id="editCantidad"
              [(ngModel)]="orderToEdit.cantidad"
              name="cantidad"
            />
          </div>
          <div class="mb-3">
            <label for="editIdUsuario" class="form-label">ID Usuario</label>
            <input
              type="text"
              class="form-control"
              id="editIdUsuario"
              [(ngModel)]="orderToEdit.id_usuario"
              name="id_usuario"
            />
          </div>
          <div class="mb-3">
            <label for="editIdProducto" class="form-label">ID Producto</label>
            <input
              type="text"
              class="form-control"
              id="editIdProducto"
              [(ngModel)]="orderToEdit.id_producto"
              name="id_producto"
            />
          </div>
          <div class="mb-3">
            <label for="editFecha" class="form-label">Fecha</label>
            <input
              type="date"
              class="form-control"
              id="editFecha"
              [(ngModel)]="orderToEdit.fecha"
              name="fecha"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="guardarCambios()"
        >
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Borrar -->
<div
  class="modal fade"
  id="ModalBorrar"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirmar Borrado</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas borrar esta orden de compra?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="borrarOrden()">
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>
