<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">
  <div class="container">
    <a class="navbar-brand" routerLink="">VOGUE VENUE<span>.</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
      aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-md-0 ms-5">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="../../../assets/images/user.svg" alt="User" /> Usuario
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
              <a class="dropdown-item" routerLink="/perfil">
                Perfil
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/historial-pedidos">
                Historial y detalles de pedidos
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/grafico-pedidos">
                Generar gráfico de pedidos anuales
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/logout">
                Cerrar Sesión
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/cart">
            <img src="../../../assets/images/cart.svg" alt="Cart" /> Carrito
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

